*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

video{
    width: 100%;
    height: auto;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1320px;
    width: 82%;
    height: auto;
    margin: 0 auto;
}

#main-header{
    margin-top: 50px;
}

#main-header .container{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    height: 600px;
}

#main-header .container .main-header-text{
    padding: 177px 344px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

#main-header .container .main-header-text h3{
    font-family: 'Merriweather', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

#main-header .container .main-header-text h1{
    font-family: 'Merriweather', sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 0;
    padding: 0;
}

.categories-section{
    text-align: center;
    margin-top: 120px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.categories-section h1{
    color: #f00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.categories-section h4{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.categories-section h3{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;
}

.categories-section img{
    display: table;
    margin: 0 auto;
    width: 802.9px;
    height: 500px;
}